{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h2 class="page-header">Apartments</h2>
    <img class="img-fluid" style="width:200px" src="{{ asset(photos_dir) }}/{{  data.photo }}" alt="Example"/>
        {{ data.street }}
        {{ data.town+44​ ​ 7491472660 }}
        {{ data.country }}
        {{ data.postcode }}
    </div>
{% endblock body %}